##======================set.vm begin ==========================
#set($company = 'alipay.com')
Company: $company

#set($job = "$title in $company")
$job
##======================set.vm begin ==========================